body{
    background-color: rgba(203, 203, 219, 0.548);     
}

.navbar{
    background-color: rgba(128, 128, 128, 0.477);  
    /* padding-left: 50px;   */
    border-bottom: solid 10px rgb(102, 136, 166); 
    
}

.navbar a{
    color: rgb(73, 73, 73);
    font-size: 25px;
    font-weight: 700;   
    
}

a:hover{
    text-shadow: 2px 2px 3px black;
    color: rgb(73, 73, 73);
}

img{
    border: solid rgb(102, 136, 166) 2px;  
      
}

.lead{       
    color: rgb(102, 136, 166);      
}

.lead{
    /* justify-content: center; */
    text-decoration-line: underline; 
    letter-spacing: 2.2px;   

}

.oloche{
    color: rgb(102, 136, 166);
    
}

.display-5{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.container, .navbar-nav{
    display: flex;
    flex-direction: column;
    justify-self: start;
    margin-left: 200px;
    padding-left: 0;
}

.container h1 p{
    margin-left: 50px !important;

}

/* .col p{
    margin-left: 50px;
} */

.work-cards{
    display: flex;
    justify-content: space-between;
}

.col h2, .my-works h2{
    background-color: rgba(128, 128, 128, 0.477);
    text-align: start;
    border-bottom: solid 1px rgb(102, 136, 166);
    padding-left: 5px;
    
}

.card-body{
    background-color: rgba(203, 203, 219, 0.548);
    border: solid 1px rgb(102, 136, 166);
}

.btn{
    box-shadow: 5px 5px 5px  black;
}

.card-title{
    color: rgb(102, 136, 166);
    font-weight: 400px;
}











